<div id="container">
	<div id="l-div">
		<%= image_tag "tl-div_title.gif", :width => 470, :height => 79 %>
		<%= image_tag "tl-div_col_titles.gif", :width => 468, :height => 50 %>
		<%= render :partial => "public_form" %>
	</div><!-- #l-div -->
	<div id="r-div">
		<%= render :partial => 'results_default' %>
	</div><!-- #r-div -->
</div>
