<div class="main">
	<div class="left">
		<p>Make a few choices about how you plan on using your computer, and we'll find the right one for you, plus we'll give you an option to kick it up a notch and go HARDCORE.</p>
		<%= render 'public_form' %>
	</div>
	<div class="right">
		<h1>Hardcore Message and Visual</h1>
		<div id="results">
		</div>
	</div>
</div>
